    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
    @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
    /* General */
    
    h1 {
        font-family: 'Montserrat', sans-serif;
    }
    
    *:not(h1) {
        font-family: 'Open Sans', sans-serif;
    }
    
    label {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: .2rem;
    }
    
    .ng-invalid~.invalid-feedback {
        display: block;
    }
    
    .btn-site-default {
        background-color: #333347;
        border-color: #333347;
    }
    
    .btn-site-default:hover {
        background-color: #67bae6;
        border-color: #67bae6;
    }
    
    .btn-site-default:focus {
        background-color: #67bae6;
        border-color: #67bae6;
    }
    
    .btn-site-action {
        padding: 5px 40px 5px 40px;
    }
    
    .site-form-control {
        width: 100%;
    }
    
    .site-calendar-control {
        width: calc(100% - 2.357em);
    }
    
    .btn-site-files {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1
    }
    
    .container-site {
        margin-top: 90px;
        width: 100%;
        min-height: 800px;
    }
    
    .site-container-shadow {
        -webkit-box-shadow: 0px 2px 7px 0px rgba(153, 153, 153, 0.5);
        -moz-box-shadow: 0px 2px 7px 0px rgba(153, 153, 153, 0.5);
        box-shadow: 0px 2px 7px 0px rgba(153, 153, 153, 0.5);
    }
    
    .site-title {
        color: #67bae6;
    }
    
    @media (max-width: 991px) {
        .container-site {
            margin-top: 167px;
        }
    }
    /* Header */
    
    .navbar-site {
        background-color: #FFFFFF;
    }
    
    .navbar-nav .nav-item .nav-link {
        color: #000000 !important;
    }
    
    .navbar-nav .nav-item .nav-link:hover {
        color: #67bae6 !important;
    }
    /* Banner */
    
    .site-banner {
        background-repeat: no-repeat;
        background-image: url("/assets/images/banner.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 1000px;
        opacity: 1;
        visibility: inherit;
    }
    /* Register */
    
    .container-form-register {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -khtml-border-radius: 20px;
        -webkit-border-radius: 20px;
    }
    
    .container-form-register .form-register .header-register {
        border-radius: 20px 20px 0px 0px;
        -moz-border-radius: 20px 20px 0px 0px;
        -khtml-border-radius: 20px 20px 0px 0px;
        -webkit-border-radius: 20px 20px 0px 0px;
    }
    
    .form-register .header-register {
        background-color: #67bae6;
        color: #FFFFFF;
    }
    
    .form-register .texto-info {
        font-size: 11px;
    }
    
    .form-register .texto-politicas {
        color: #333347;
        font-weight: bold;
    }
    /* Login */
    
    .container-form-login {
        border-radius: 20px;
        -moz-border-radius: 20px;
        -khtml-border-radius: 20px;
        -webkit-border-radius: 20px;
    }
    /* Menu */
    
    .site-sidebar figure {
        text-align: center;
    }
    
    .site-sidebar .container-img-profile {
        margin: auto;
        width: 180px;
        height: 180px;
    }
    
    .site-sidebar .container-img-profile .img-profile {
        display: inline-block;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        margin-top: 15px;
        margin-left: 15px;
        width: 150px;
        height: 150px;
    }
    
    .site-sidebar .container-img-profile .progress-bar-hv {
        position: relative;
        transform: rotate(90deg);
        fill: none;
        stroke: #3047a5;
        stroke-dasharray: 0 0;
    }
    
    .site-sidebar .container-img-profile svg circle.circle-progressbar-hv {
        stroke: #3047a5;
    }
    
    .site-sidebar .btn-upload-foto {
        background: #FFFFFF;
        color: #333347;
        border: 1px solid #333347;
        border-radius: 20px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .site-sidebar .btn-upload-foto:hover {
        background: #333347;
        color: #FFFFFF;
    }
    /* Footer */
    
    .site-footer {
        min-height: 100px;
        background-color: #333347;
    }
    /* Hoja de vida */
    
    .container-hv .ui-accordion .ui-accordion-header {
        height: 50px;
    }
    
    .container-hv .ui-accordion .ui-accordion-header a {
        background: #FFFFFF;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid #c8c8c8;
        font-size: 1.2rem;
        color: #333347;
    }
    
    body .ui-accordion .ui-accordion-header a .ui-accordion-toggle-icon {
        color: #333347;
    }
    
    .container-hv .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
        background-color: initial;
        border: initial;
        color: #67bae6;
    }
    
    .container-hv .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a .ui-accordion-toggle-icon {
        color: #67bae6;
    }
    
    .container-hv .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a {
        background-color: #dbdbdb;
        border: 1px solid #dbdbdb;
        color: #67bae6;
    }
    
    .container-hv .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active:hover a .ui-accordion-toggle-icon {
        color: #67bae6;
    }
    
    .container-hv .ui-accordion .ui-accordion-content {
        border-top: 0;
        border-left: 1px solid #c8c8c8;
        border-right: 0;
        border-bottom: 0;
        margin-left: 20px;
    }
    
    ul.lista-items-hv {
        margin-top: 15px;
        list-style: none;
    }
    
    ul.lista-items-hv li.item-hv {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-bottom: 5px;
    }
    
    ul.lista-items-hv li.item-hv:before {
        content: '';
        position: absolute;
        left: 25px;
        width: 12px;
        height: 12px;
        border: 1px solid #333333;
        border-radius: 100%;
        background-color: #fff;
        margin-top: 10px;
        z-index: 10;
    }
    
    ul.lista-items-hv li.item-hv .icon-item-hv {
        font-size: 1.5em;
    }
    
    ul.lista-items-hv li.item-hv:after {
        content: '';
        position: absolute;
        left: 30px;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #ddd;
    }
    /* Dashboard */
    
    .dashboard {
        min-height: 700px;
    }
    
    .dashboard .stats-list-item {
        border: 1px solid #dbdbdb;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, .12);
        text-align: center;
        padding: 24px 10px 28px;
    }
    
    .dashboard .stats-list-item h6 {
        text-transform: uppercase;
        font-size: 14px;
        color: #717171;
        margin-bottom: 11px;
    }
    
    .dashboard .stats-list-item span {
        display: block;
        font-size: 24px;
        color: #717171;
        font-weight: 700;
        margin-bottom: 10px;
    }
    
    .dashboard .stats-list-item small {
        font-size: 12px;
        color: #777;
    }
    
    .dashboard .progresohv {
        margin: 0;
        position: absolute;
        top: 32%;
        left: 220px;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
        font-weight: bold;
    }